<div class="p-4 text-center text-light" id="hero-img">
    <h1 class="display-1 mb-3" id="hero-title">Book a room</h1>
    <p class="lead pb-3">Please <a href="login" class="link-light">login</a> or <a href="register" class="link-light">register</a> then fill in the form below to book a room for yourself and your guests.</p>
    <a class="btn btn-primary btn-lg" href="book-room" role="button">Book a room</a>
</div>