<div class="container my-3">
    <h1>Login</h1>
    <p>Please login below or <a href="register" class="link-dark">register here</a> if you do not have an account</p>

    <form action="/login" method="POST" class="container-fluid my-5"> 
        <div class="row mb-3">
            <label for="serviceNumber" class="col-form-label col-md-3">Service Number</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="serviceNumber" name="serviceNumber" placeholder="30123456">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-form-label col-md-3">Password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4"></div>
            <button class="btn btn-primary col-md-3" type="submit">Login</button>
        </div>
    </form>
</div>
