<div class="modal fade" id="rulesModal" tabindex="-1" aria-labelledby="rulesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="rulesModalLabel">Sergrant's Mess Rules</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident totam repellendus, asperiores ipsum eligendi excepturi sint dolore dolorem ducimus aspernatur voluptatum inventore mollitia nostrum quia laborum rerum quae quam veniam?
            Voluptates eveniet laudantium deserunt inventore eos delectus sed aliquid molestias. Architecto tenetur est, perferendis molestias reiciendis inventore beatae nihil ab recusandae consectetur nam, quia ex expedita, quam officia quas quisquam?
            Rem autem cupiditate eos suscipit molestiae nobis modi ad. Eos ipsum dolor ipsam voluptates commodi temporibus ex provident dolores libero excepturi. Earum minima iure nostrum obcaecati magnam necessitatibus voluptatum aliquam!
            Laudantium ex labore, nisi impedit placeat ab ratione nesciunt. Provident velit sunt rem aperiam facere tempora qui repudiandae libero, dignissimos culpa placeat! Adipisci voluptas harum exercitationem sequi. Dolores, aliquam dignissimos.
            Dolorem eum, eaque placeat, architecto enim, voluptatem ipsum sint iure impedit amet sequi aliquam quam. Libero, tempore accusamus sed similique voluptatem porro eligendi, amet quia, fugiat quis doloremque. Fuga, ab?
            Vitae necessitatibus suscipit quaerat fugit possimus distinctio amet corrupti, veritatis, hic quis ex? Magnam maiores consectetur vitae nihil culpa, dolorem minus, aspernatur quibusdam praesentium laudantium veniam aliquam perspiciatis a cupiditate.
            Nihil numquam molestias natus officiis quibusdam dolorem animi exercitationem totam sit possimus laborum ab doloribus, tenetur minima esse asperiores, enim modi praesentium. Magni, quis similique commodi aspernatur expedita explicabo provident!
            Quia accusantium quam ex officia deserunt sed aspernatur veniam atque iusto magni deleniti voluptate consequatur quasi, quisquam mollitia expedita voluptates suscipit reprehenderit labore error. Enim et inventore autem eius. Rerum.
            Quo consectetur nulla animi reprehenderit, porro cumque exercitationem, ipsam rerum odit impedit quia dicta optio dolorem error? Consequuntur quaerat tempora, consequatur expedita inventore odit quidem debitis, sunt quis nesciunt nostrum.
            Voluptatum iusto rem quod quo deserunt debitis illo architecto, nulla maiores. Quae a omnis veritatis accusamus iure iste repellendus veniam laboriosam necessitatibus saepe ipsum, eligendi perferendis pariatur quasi esse quo!</p>
        </div>
    </div>
    </div>
</div>